.madeBy {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	@apply mt-6;
}

.madeBy :global(p) {
	width: 100%;
	@apply text-sm;
}

@screen md {
	.madeBy {
		justify-content: center;
	}
	.madeBy :global(p) {
		width: auto;
	}
}

@screen sm {
	.el .paragraph {
		width: 32ch;
	}
}

.elements {
	display: flex;
	flex-direction: column;
	@apply space-y-6;
}

.el, .el-alt {
	display: flex;
}

@screen lg {
	.elements {
		align-items: center;
	}
	.el, .el-alt {
		@apply px-[16px];
	}
	.el:last-of-type {
		text-align: right;
	}

	.el:first-of-type {
		text-align: left;
	}
}

.el .title, .el-alt .title {
	color: black;
	@apply text-xl;
	@apply font-bold;
}

.el .links, .el-alt .links {
	display: flex;
	flex-direction: column;
	width: 100%;
}

@screen lg {
	.el .links, .el-alt .links {
		display: flex;
		flex-direction: row;
		@apply my-0;
		@apply space-x-6;
	}
}

.el .links :global(a), .el-alt .links :global(a) {
	@apply py-2;
}

.el :global(a):hover, .el-alt :global(a):hover {
	text-decoration: underline;
}

@screen lg {
	.el .links :global(a), .el-alt .links :global(a) {
		@apply px-1;
		@apply py-0;
	}
}
